<div class="container">
  <h1>详细参数</h1>  
  <hr /> 

  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-primary">创新功能</h4></div>
    <div class="panel-body">
      <p>电池底座 — 设备自供电待机2小时以上，玩法更多。同时底座可变身充电宝。</p>
      <p>物理遮蔽 — 独有的物理遮盖设计，隐私彻底保障。</p>
      <p>声波配置 — 配置过程更简单，不用反复切换出客户端。</p>
      <p>加密本地存储 — 本地SD卡录像经过加密存储，保证设备丢失后的信息安全。</p>
      <p>局域网直连 — 在家中（同一局域网内）客户端与摄像机自动直连，减少时延。</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-primary">功能特征</h4></div>
    <div class="panel-body">
      <p>广角镜头，H.264编码720P高质量画面</p>
      <p>录像资料安全存储在百度云，随时随地进行直播和点播</p>
      <p>拖动滚动条，进行任意时刻历史图像回看</p>
      <p>支持移动侦测报警，报警实时推送到客户端</p>
      <p>支持语音对讲功能，在外面也能与家中老人、小孩、甚至宠物交流</p>
      <p>支持声波、无线配置，60s快速安装</p>
      <p>红外夜视补光，保障全天候视频浏览</p>
      <p>三轴支架，支持粘帖安装不破坏装修</p>
      <p>分享：可以和朋友或家人分享您的精彩画面</p>
      <p>WiFi无线连接</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading"><h4 class="text-primary">规格参数</h4></div>
    <div class="panel-body">
      <p>传感器类型：1/3" Progressive Scan CMOS</p>
      <p>镜头：3.6mm镜头</p>
      <p>镜头保护：手动物理拨片遮挡</p>
      <p>日夜转换模式：ICR 红外滤片式</p>
      <p>视频压缩标准：H.264编码，1280×720@25帧/秒</p>
      <p>存储功能：支持Mirco SD卡，最大32G</p>
      <p>音频：内置麦克风和扬声器，支持双向实时音频传输</p>
      <p>通用功能：RESET一键复位</p>
      <p>通讯接口：WiFi</p>
      <p>无线标准：支持802.11b/g/n无线协议</p>
      <p>指示灯：单颗双色</p>
      <p>智能报警：移动侦测</p>
      <p>工作温度和湿度：操作温度：-20-55°C，室内使用</p>
      <p>电源供应：接口电源5V 2A输入，mini USB接口</p>
      <p>功耗：5W MAX</p>
      <p>夜视/补光：LED自动红外补光，支持smart IR</p>
      <p>外形尺寸(mm)、颜色：75mm*75mm*35mm</p>
      <p>重量：160g</p>
    </div>
  </div>
</div>
