
 <div class="container">
  <p><a href="{:U('Activity/edit')}" class="btn btn-primary">新增</a></p>
  <table class="table">
      <thead>
        <tr>
          <th width="10%">ID</td>
          <th>标题</th>
          <th>增加时间</th>          
          <th width="20%">操作</th>
        </tr> 
      </thead>
      <tbody>
        <volist name="list" id="vo">
        <tr>
          <td>{$vo.id}</td>
          <td>{$vo.title}</td> 
          <td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
          <td><a href="{:U('Activity/del',array('id'=>$vo['id']))}" class="btn btn-danger" onclick="return confirm('确认要删除吗？');">删除</a>&nbsp;<a href="{:U('Activity/edit',array('id'=>$vo['id'],'actid'=>$actid))}" class="btn btn-warning">修改</a>&nbsp;<a href="{:U('Term/index',array('actid'=>$actid))}" class="btn btn-warning">投票项目&nbsp;<a href="{:U('Activity/trad',array('actid'=>$actid))}" class="btn btn-warning">投票统计</a></a>
          </td>
        </tr>
        </volist>
      </tbody>
  </table>    
</div>
